
PORT = 5000
MONGOURL="mongodb://localhost:27017/test"

BASIC_URL='http://localhost:5000/'
#jwt
JWTSECRETKEY=27B5427675142C449CF4B827538EA
#Basic auth
BASIC_USERNAME='test'
BASIC_PASSWORD='test'
#Postman 
POSTMANLINK='https://api.postman.com/collections/27891723-0ca5a415-c164-4c8d-b4e0-56eb9bd23bb2?access_key=PMAT-01H2FAP1SMDC6E4XKR8JRET93S'
COLLECTIONlINK ='https://www.postman.com/altimetry-architect-52790760/workspace/task'